@model Notes.Models.Note

@{
    ViewData["Title"] = "Delete";
}

<!-- Main Content -->
<div class="main-content container">
    <h1 class="display-4 mb-1">@ViewData["Title"]</h1>
    <h4 class="form-heading mb-4">Note</h4>
    <p>Are you sure you want to delete this note?</p>
    <!-- Note Details -->
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="mb-4">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="mb-4">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="mb-4">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "mb-4">
            @Model.CreatedAt.ToLocalTime().ToString("G")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="mb-4">
            @Model.UpdatedAt.ToLocalTime().ToString("G")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="mb-4">
            @(Model.Category != null ? Model.Category.Name : "No Category")
        </dd>
    </dl>
    <!-- Form -->
    <form asp-action="Delete" class="d-flex flex-wrap justify-content-start gap-2">
        <input type="hidden" asp-for="Id" />
        <!-- Buttons -->
        <input type="submit" value="Delete" class="btn main-content-button custom-delete-button" />
        <a asp-action="Index" class="btn main-content-button custom-back-to-list-button">Back to List</a>
    </form>
</div>