@model Notes.Models.Category

@{
    ViewData["Title"] = "Details";
}

<!-- Main Content -->
<div class="main-content container">
    <h1 class="display-4 mb-1">@ViewData["Title"]</h1>
    <h4 class="form-heading mb-4">Category</h4>
    <!-- Category Details -->
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="mb-4">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="mb-4">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <!-- Buttons -->
    <div class="d-flex flex-wrap justify-content-start gap-2">
        <a class="btn main-content-button custom-edit-button" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="btn main-content-button custom-back-to-list-button" asp-action="Index">Back to List</a>
    </div>
</div>