@model IEnumerable<Notes.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<!-- Main Content -->
<div class="main-content container">
    <h1 class="display-4 mb-4">@ViewData["Title"]</h1>
    <!-- Create New Category Button -->
    <div class="button-area mb-4">
        <a asp-action="Create" class="main-content-button">Create new</a>
    </div>
    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-borderless mb-0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        <!-- Search Form -->
                        <form asp-action="Index" method="get" class="d-flex justify-content-end search-form">
                            <input class="form-control me-2 search-input" placeholder="Search title" autocomplete="off" aria-label="Search" name="search" value="@ViewData["CurrentFilter"]">
                            <button class="btn" type="submit">
                                <img class="search-icon" src="../images/search.svg" alt="Search icon" />
                            </button>
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <!-- Edit, Details, and Delete Buttons -->
                            <div class="d-flex justify-content-end gap-2">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn custom-edit-button custom-button">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn custom-details-button custom-button">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn custom-delete-button custom-button">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>